@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');


:root{
    --primary: #F52C2C;
    --secondary: #e2dfdf;
    --text-primary: #3E3C3C;
    --text-secondary: #B2FAEF;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

body{
    background-image: url('../public/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}